/* no IE11, no safari 9 or less, yes chrome 50+, yes firefox 50+, yes opera 40+, yes android 4.4+ */

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #e6e6e6;
}
::-webkit-scrollbar-thumb {
    background: var(--segundo);
    border-radius: 4px;
}

input:active,
button:active,
:invalid,
:focus {
    outline: none;
    box-shadow: none;
}

.hidden {
    display: none !important;
}

.primary-btn {
    border: none;
    cursor: pointer;
    background: var(--segundo);
    color: #fff;
    font-size: 15px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, .2);
    transition: background .3s;
}

.btn-right {
    border-radius: 0 5px 5px 0;
}

.btn-left {
    border-radius: 5px 0 0 5px;
}

.primary-btn:hover {
    background: var(--primero);
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

body {
    background: var(--tercero);
}

.app {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

/* Modal */

.app .modal {
    position: absolute;
    cursor: pointer;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    background: rgba(36, 38, 128, .4);
}

.app .tabs-wrapper {
    background: #fff;
    overflow: hidden;
    padding: 30px;
    max-width: 500px;
    position: relative;
    border-radius: 25px;
    box-shadow: 0 0px 45px rgba(0, 0, 0, 0.4), 0 0px 15px rgba(0, 0, 0, 0.24);
    margin: 100px auto;
}

.app .tabs-wrapper .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 45px;
    height: 45px;
    background: url(../images/icons/close-alone.png) center no-repeat var(--segundo);
    background-size: 20px;
    border-radius: 0 25px 0 25px;
}

.app .tabs-wrapper .book-name{
    text-align: center;
    padding: 0 15px;
    color: var(--segundo);
}

.tabs-content .tab-list {
    padding: 25px 0 20px 0;
    border-bottom: 1px solid #aaa;
    display: flex;
    font-display: row;
    justify-content: center;
}

.tabs-content .tab-list .tab-item{
    padding: 5px 10px;
    text-align: center;
    flex-basis: 100%;
    max-width: 120px;
    color: var(--segundo);
    border: 1px solid var(--segundo);
    margin: -1px 0 0 -1px;
    border-collapse: collapse;
    cursor: pointer;
    transition: background .2s, color .2s;
}

/* .tabs-content .tab-list .tab-item:hover, */
.tabs-content .tab-list .tab-item.active { 
    background: var(--segundo);
    color: #fff;
}

.tabs-content .tab-list .tab-item:first-child { border-radius: 5px 0 0 5px; }
.tabs-content .tab-list .tab-item:last-child { border-radius: 0 5px 5px 0; }

.tabs-content .tab-container {
    padding: 0 15px;
}

.tabs-content .tab {
    display: none;   
}

.tabs-content .tab.tab-active {
    display: block;
}

/* Chapters list tab */
.tab .chapter-list .chapter-item{
    display: block;
    font-size: 16px;
    text-decoration: none;
    color: #3d66ef;
    margin: 15px 0;
    transition: background .3s, color .3s;
}
.tab .chapter-list .chapter-item.level-1 { font-weight: 500; }
.tab .chapter-list .chapter-item.level-2 { font-weight: 400; }
.tab .chapter-list .chapter-item.level-3 { font-weight: 300; margin: 5px 0; }

.tab .chapter-list .chapter-item:hover {
    color: var(--segundo);
}
.tab .chapter-list .chapter-item.active {
    color: #222;
}

/* Search tab */
.tab .search-bar {
    margin: 20px auto;
    margin-bottom: 30px;
    width: 80%;
    height: 40px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, .2);
}

.tab .search-bar input {
    width: calc(100% - 45px);
    float: left;
    height: 100%;
    border: none;
    padding: 8px;
    background: none;
}

.tab .search-bar button {
    width: 45px;
    height: 100%;
    position: relative;
    border: none;
    cursor: pointer;
    background-color: none;
    background: url(../images/icons/search-btn.png) center no-repeat;
    background-size: 25px;
}
.tab .search-bar button:before {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 80%;
    width: 1px;
    background: #ccc;
}

/* Search results */

.tab .search-item{
    display: block;
    position: relative;
    width: 80%;
    font-size: 14px;
    margin: 15px auto;
    background: #fff;
    text-decoration: none;
    color: #333;
    padding: 10px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, .2);
}

.tab .search-item .pbar {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    background: var(--segundo);
}

/* Bookmark tab */

.tab[data-tab=bookmarks] .new-bookmark{
    margin: 25px auto;
    height: 40px;
    width: 100%;
    display: flex;
    flex-basis: 0%;
}

.tab[data-tab=bookmarks] .new-bookmark .bookmark-input {
    height: 100%;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, .2);
    border: none;
    padding: 10px;
    width: 100%;
    flex-grow: 100;
}

.tab[data-tab=bookmarks] .new-bookmark .do-bookmark {
    height: 100%;
    padding: 0 10px;
}

.bookmark-list .bookmark {
    border-bottom: 1px solid #aaa;
    padding-right: 24px;
    position: relative;
    /* height: auto; */
}

.bookmark-list .bookmark-item {
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    color: #333;
    transition: color .3s;
    padding: 15px 0;
}

.bookmark-list .bookmark-item:hover {
    color: var(--primero);
}

.bookmark-list .rm-bookmark {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
    background: url(../images/icons/close@2x.png) center no-repeat;
    background-size: 22px;
    transition: opacity .2s;
}

.bookmark-list .rm-bookmark:hover {
    opacity: .8;
}


/* Menu bar */
.app .menu-bar {
    width: 100%;
    min-height: 100px;
    padding: 0 50px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app .menu-bar .title {
    display: flex;
    font-display: row;
    align-items: center;
}

/* temporary */
.app .menu-bar .title .logo {
    width: 50px;
    height: 50px;
    display: block;
    flex-shrink: 0;
    cursor: pointer;
    background: var(--segundo);
    margin-right: 15px;
    border-radius: 50%;
}
.app .menu-bar .title .logo img{
    width: 100%;
}
.app .menu-bar .title .book-title{
    font-size: 18px;
    font-weight: 600;
    color: #3d66ef;
    padding-bottom: 3px;
}

.app .menu-bar .title .book-author {
    font-size: 16px;
    font-weight: 400;
    color: var(--primero);
}

.app .menu-bar .menu-tools {
    display: flex;
    flex-direction: row;
}
.app .menu-bar .menu-tool {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: background .3s;
    background-position: center;
    background-size: 45px;
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
    margin: 0 5px;
}

.app .menu-bar .menu-tool.search-tool { background-image: url(../images/icons/search.png); }
.app .menu-bar .menu-tool.font-tool { background-image: url(../images/icons/text-tool.png); }
.app .menu-bar .menu-tool.chapter-tool { background-image: url(../images/icons/nav.png); }
.app .menu-bar .menu-tool.bookmark-tool { background-image: url(../images/icons/bookmark.png); }
.app .menu-bar .menu-tool.bookmark-tool.bookmarked { background-image: url(../images/icons/bookmark-filled.png); }
/* .app .menu-bar .menu-tool:hover { background-color: var(--cuarto); } */

.app .menu-bar .menu-tooltip {
    position: absolute;
    z-index: 1000;
    background: #fff;
    min-width: 150px;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%) scale(0);
    transform-origin: center top;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd;
    transition: transform .45s;
}

.app .menu-bar .menu-tooltip.tooltip-active {
    transform: translateX(-50%) scale(1);
}

.menu-tooltip .tooltip-content {
    position: relative;
    border-radius: 10px;
}

.menu-tooltip .tooltip-content::before {
    content: '';
    display: block;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #fff;
}

.app .menu-bar .menu-tool .font-settings {
    width: 250px;
}

.app .menu-bar .menu-tool .font-settings .settings-row {
    /*TODO: Make with grid or bootstrap */
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-bottom: 3px;
}
.app .menu-bar .menu-tool .font-settings .settings-item {
    /* transition: background .3s, color .3s, border-color .3s; */
    transition: .3s;
    cursor: pointer;
    padding: 5px 0;
    border: 2px solid transparent;
    border-radius: 10px;
    margin-right: 3px;
    flex-basis: 100%;
}

.app .menu-bar .menu-tool .font-settings .settings-item:hover, 
.app .menu-bar .menu-tool .font-settings .settings-item.active {
    background: var(--primero);
    border-color: var(--primero);
    color: #fff;
}


/* End menu bar */

/* Prev & Next */
.nav-arrows button,
.nav-arrows button:active {
    border: none;
    box-shadow: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

.nav-arrows .prev-btn,
.nav-arrows .next-btn {
    font-size: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity .3s;
}

.nav-arrows .prev-btn:hover,
.nav-arrows .next-btn:hover {
    opacity: .7;
}

.nav-arrows .prev-btn {
    left: -50px;
}

.nav-arrows .next-btn {
    right: -50px;
}

/* End Prev & Next */

/* Progress bar */
.app .bar {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    height: 44px;
    line-height: 44px;
    padding: 0 10px;
}


.rangebar {
    -webkit-appearance: none;
    -moz-apperance: none;
    height: 4px;
    width: 100% !important;
    cursor: pointer;    
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0, #3d66ef),
        color-stop(0, #e6e6e6)
    );
}

.rangebar::-moz-range-track {
    border: none;
    background: none;
    outline: none;
}

.rangebar:focus {
    outline: none;
    border: none;
}

.rangebar::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: #3d66ef;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}
.rangebar::-webkit-slider-thumb:hover {
    height: 15px;
    width: 15px;
}

.rangebar::-moz-range-thumb {
    -moz-appearance: none !important;
    background-color: #3d66ef;
    border: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}
.rangebar::-moz-range-thumb:hover {
    height: 10px;
    width: 10px;
}

/* End progress par */

.app .viewer {
    width: 80%;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;

    background: #fff;
    padding: 40px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    position: relative;
    
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
}

.app .book {
    width: 100%;
    height: 100%;
}

.app .book > div {
    -webkit-flex: 1;
    flex: 1;
    height: 100%;
    width: 100%;
}

/* Empty book container */
.app .book .empty-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.app .book .empty-wrapper .empty {
    display: block;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    text-align: center;
    padding-top: 60px;
}

.app .book .empty-wrapper .empty .app-name {
    display: block;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 20px;
}

.app .book .empty-wrapper .empty .big-button,
.app .book .empty-wrapper .empty .big-button:link,
.app .book .empty-wrapper .empty .big-button:visited {
    display: inline-block;
    width: 150px;
    max-width: 100%;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin: auto;
    color: inherit;
    text-decoration: none;
    margin: 20px;
    background: rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.app .book .empty-wrapper .empty .big-button:hover,
.app .book .empty-wrapper .empty .big-button:active {
    background: rgba(0, 0, 0, 0.1);
}

.app .book .empty-wrapper .empty .big-button:active {
    border: 1px solid rgba(0, 0, 0, 0.2);
}


.app .book .empty-wrapper .empty .message {
    display: block;
    max-width: 400px;
    margin: 0 auto;
}

/* END empty book container */

.app .dictionary-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-justify-content: center;
    justify-content: center;
    position: fixed;
    bottom: 16px;
    left: 16px;
    right: 16px;
    height: 200px;
    max-height: 50%;
    min-height: 150px;
    z-index: 500;
}

.app .dictionary-wrapper .dictionary {
    flex: 0 0 auto;
}

.app .dictionary {
    background: #fff;
    color: #000;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, .15);
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    max-width: 450px;
    overflow-y: auto;
    overflow-x: hidden;
}

.app .dictionary .definition {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid #ddd;
}

.app .dictionary .definition:last-child {
    border-bottom: none;
}

.app .dictionary .definition .word {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 4px;
}

.app .dictionary .definition .info {
    display: block;
    margin-bottom: 8px;
    font-style: italic;
}

.app .dictionary .definition .meanings {
    display: block;
}

.app .dictionary .definition .meaning {
    display: block;
    margin-bottom: 8px;
    text-indent: 10px;
}

.app .dictionary .definition .meaning:first-line {
    margin-left: -10px;
}

.app .dictionary .definition .meaning .text {
    display: block;
    margin-bottom: 2px;
}

.app .dictionary .definition .meaning .example {
    display: block;
    font-style: italic;
}

.app .dictionary .definition .credit {
    display: block;
    margin-top: 4px;
    font-style: italic;
    font-size: 12px;
}


/* Error container */

.app .error {
    display: block;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
    padding: 28px 32px;
}

.app .error .error-title {
    display: block;
    margin-bottom: 16px;
    color: red;
    font-weight: 300;
    font-size: 32px;
    line-height: 1;
}

.app .error .error-description,
.app .error .error-info {
    display: block;
    margin-bottom: 8px;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4;
}

.app .error .error-dump {
    display: block;
    background: rgba(0, 0, 0, 0.1);
    margin-top: 16px;
    padding: 8px;
    border-radius: 5px;
    font-family: monospace;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 12px;
}

.app .footer {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 40px;
}
.app .footer span {
    font-size: 13px;
    margin-right: 15px;
}
.app .footer .brand {
    height: 100%;
    max-height: 7vh;
}

@media only screen and (max-width: 950px) {
    .app .bar {
        height: 36px;
        line-height: 36px;
        padding: 0 4px;
    }
}

@media only screen and (max-width: 620px) {
    ::-webkit-scrollbar {
        display: none;
    }
    .app .menu-bar .title {
        display: none !important;
    }
    .app .menu-bar {
        justify-content: center;
        min-height: 60px;
        max-height: 75px;
        padding: 0 20px;
    }

    .tabs-wrapper .search-bar, .tabs-wrapper .search-item {
        width: 100%;
    }

    .app .viewer {
        width: 100%;
        padding: 25px 0;
    }
    .nav-arrows .prev-btn {
        left: -20px;
    }
    .nav-arrows .next-btn {
        right: -20px;
    }
}

@media only screen and (max-width: 450px) {
    .app .nav-arrows {
        display: none;
    }
}