body{
	background-color: var(--primero);
}

.header{
	background-color: var(--tercero);
}

.logohead{
	width: 50%;
    max-width: 300px;
    min-width: 100px;
}

.buttonCircle{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: var(--segundo);
    border-radius: 50%;
    color: white;   

    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.08), 0 0px 0px rgba(0,0,0,.29);

    z-index: 999;
    cursor: pointer;
}

.pTopRight{
	right: 15px;
	top: 15px;
}

.pTopLeft{
	left: 15px;
	top: 15px;
}

.bg1-init::before{
	content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    top: 0px;
    left: 0px;
    background-color: var(--tercero);
}

.library{
	width: 90%;
	max-width: 700px;
}

.book{
	/*position: relative;
    width: 100px;
    height: 150px;*/
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.08), 0 0px 0px rgba(0,0,0,.29);
}

.tableLibrary{
    position: absolute;
    bottom: 7px;
    width: 100%;
    height: 15px;
    background: transparent;
    perspective: 100px;
	/*box-shadow: 0 1px 2px rgba(0,0,0,.17), 0 6px 8px rgba(0,0,0,.29);*/
	box-shadow: 0 7px 25px rgba(0, 0, 0, 0.41), 0 0px 0px rgba(0,0,0,.29);
}

.tableLibrary::before{
	content: "";
    position: absolute;
    width: calc(97.5%);
    height: 25px;
    bottom: 95%;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #E6EBF4;
    transform: rotateX(12deg);
}

.tableLibrary::after{
    content: "";
    position: absolute;
    width: calc(100%);
    height: 14px;
    top: 0px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #ffffff;
    transform: rotateX(-2deg);
}

.tableLibrary2{
    position: absolute;
    bottom: -14px;
    width: 100%;
    height: 15px;
    background: transparent;
    perspective: 100px;
	/*box-shadow: 0 1px 2px rgba(0,0,0,.17), 0 6px 8px rgba(0,0,0,.29);*/
	box-shadow: 0 7px 25px rgba(0, 0, 0, 0.41), 0 0px 0px rgba(0,0,0,.29);
	display: none;
}

.tableLibrary2::before{
	content: "";
    position: absolute;
    width: calc(97.5%);
    height: 25px;
    bottom: 95%;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #E6EBF4;
    transform: rotateX(12deg);
}

.tableLibrary2::after{
    content: "";
    position: absolute;
    width: calc(100%);
    height: 14px;
    top: 0px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #ffffff;
    transform: rotateX(-2deg);
}

.contA{
	margin-bottom: 110px;	
}

@media only screen and (max-width: 768px) {
    .tableLibrary{
    	display: none;
    }
    .tableLibrary2{
    	display: inline-block;
    }

    .contB{
    	margin-bottom: 90px !important;
    }

    .contA{
    	margin-bottom: 0px !important;	
    }
}

.infoBook{
	position: absolute;
    top: calc(100% + 20px);
    padding: 0px 20px;
    margin-left: 10px;
}

.titleBook{
	font-size: 16px;
    font-weight: 600;
    color: white;
    margin: 0;
    line-height: 18px;
}

.nameAuthor{
	font-size: 13px;
    font-weight: 400;
    color: white;
    margin: 0;
    line-height: 14px;
}

.porcentBook{
	font-size: 13px;
    font-weight: 600;
    color: var(--segundo);
    margin: 0;
    line-height: 18px;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.block-ellipsis {
    display: -webkit-box;
    max-height: 38px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.linkInner{
	    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*CSS BOOK HTML*/

.titleBookName{
	font-size: 18px;
    font-weight: 600;
    color: var(--segundo);
    margin: 0;
    line-height: 20px;
}

.titleBookChapter{
	font-size: 16px;
    font-weight: 400;
    color: var(--primero);
    margin: 0;
    line-height: 18px;
}

.caractBook{
	padding: 0px 70px;
}

.tool{
	width: 50px;
}

.setTool{
	cursor: pointer;
	padding:5px;
    position: relative;
}

.modal1{
    position: absolute;
    width: 250px;
    background: white;
    top: calc(100% + 5px);
    padding: 10px;
    left: 50%;
    
    border: 1px solid;
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);

    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.08), 0 0px 0px rgba(0,0,0,.29);
    z-index: 999;
    cursor: pointer;
}

.modal1::before{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    right: 0;
    top: -22px;
    margin: auto;
    /* background-color: red; */
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #ffff;
}

.bgbody2{
	background-color: var(--tercero);
}

.aspect-ratio-box {
  background: white;
}
.aspect-ratio-box::before {
  content: "";
  width: 1px;
  margin-left: -1px;
  float: left;
  height: 0;
  padding-top: 75%;
}
.aspect-ratio-box::after { /* to clear float */
  content: "";
  display: table;
  clear: both;
}

.pageContent{
	max-width: 920px;
	box-shadow: 0 7px 25px rgba(0, 0, 0, 0.41), 0 0px 0px rgba(0,0,0,.29);
}

.page{
	overflow: hidden;
}

.pageA{
	width: 50%;
    height: calc(100vh - 260px);
    background-color: white;
	padding:60px;
}

.pageA > p{
	overflow:hidden;

}

#current-percent{
    -webkit-appearance: none;
    border: 0;
    border-radius: 15px;
    text-align: center;
    font-family: var(--font1);
    padding: 5px 8px;
    margin-bottom: 10px;
}

.rangebar {
    -webkit-appearance: none;
    -moz-apperance: none;
    height: 4px;
    width: 100% !important;
    cursor: pointer;
    
    background-image: -webkit-gradient(linear,
        left top, 
        right top, 
        color-stop(0%, #3d66ef),
        color-stop(0%, #e6e6e6));
    
    background-image: -moz-linear-gradient(left center,
        #3d66ef 0%, #3d66ef 0%,
        #e6e6e6 0%, #e6e6e6 100%);
}

.rangebar::-moz-range-track {
    border: none;
    background: none;
    outline: none;
}

.rangebar:focus {
    outline: none;
    border: none;
}

.rangebar::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: #3d66ef;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}
.rangebar::-webkit-slider-thumb:hover {
    height: 15px;
    width: 15px;
}

.rangebar::-moz-range-thumb {
    -moz-appearance: none !important;
    background-color: #3d66ef;
    border: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}
.rangebar::-moz-range-thumb:hover {
    height: 10px;
    width: 10px;
}

.glovo{
    position: absolute;
    width: 334px;
    height: 237px;
    top: 45px;
    left: 50%;
    margin-left: -70px;
    z-index: 20;
    display: none;
}
.glovo > img{
    position: absolute;
    left: 0;
    top: 0;
}
.glovo_box{
    position: relative;
    display: flex;
    width: 304px;
    height: 180px;
    top: 35px;
    left: 15px;
    flex-direction: column;
    flex-wrap: nowrap;
}
.glovo_option{
    display: flex;
    position: relative;
    width: 100%;

    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0px 10px;
    border-bottom: 1px solid #3d66ef;
}
.glovo_option > p{
    position: relative;
    text-align: center;
    margin-bottom: 0;
    width: 100%;
    padding: 7px 0px;
    margin: 3px 0px;

    font-family: var(--font1);

    color: #242680;
    background-color: white;

    transition: background 0.25s, color 0.25s;
    -webkit-transition: background 0.25s, color 0.25s;
    -moz-transition: background 0.25s, color 0.25s;
    -ms-transition: background 0.25s, color 0.25s;
    -o-transition: background 0.25s, color 0.25s;
}

.glovo_option > p:hover{
    background-color: #3d66ef !important;
    color: white !important;
}
.glovo_selected{
    background-color: #3d66ef !important;
    color: white !important;
}

#viewer.spreads{
    top: 0 !important;
    margin-top: calc(50vh - 400px) !important;
}


@media only screen and (max-width: 768px) {

.pageA{
    height: calc(100vh - 320px);
}

}

.pageB{
	width: 50%;
    height: calc(100vh - 260px);
    background-color: white;
	padding:20px;
	box-shadow: 0 0px 25px rgba(0, 0, 0, 0.10), 0 0px 0px rgba(0,0,0,.29);
}

@media only screen and (max-width: 768px) {

.pageA{
	width: 100%;
}

.pageB{
	display: none;
}

}


.dnone{
    display: none !important;
}

.blackbolt{
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 38, 128, 0.73);
    z-index: 99999;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;

    /*-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;*/

    display: none;
}

.popIn {
    position: relative;
    width: 100%;
    max-width: 590px;
    height: 100%;
    max-height: 80%;
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 0px 45px rgba(0, 0, 0, 0.4), 0 0px 15px rgba(0, 0, 0, 0.24);
}

.pTop1{
    right: -20px;
    top: -20px;
}


.toc-list > a{
    padding: 10px;
    border-bottom: 1px solid var(--cuarto);
    width: 100%;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.contMenu{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.w100{
    width: 100%;
}

a{
    text-decoration: none !important;
}


.hei20{
    height: 300px;
    overflow:hidden;
}

.navigate{
    position: absolute;
    width: 100%;
    height: 0px;
    top: 50%;
    display: flex;
    justify-content: space-between;
}

.chevs{
    font-size: 50px;
}
